/* Basic styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Center the root app container */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaeaea;
}
